* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    border: none;
    background: transparent;

    outline: none;
    text-decoration: none;
    list-style-type: none;

    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    transition: 0.2s;
}

html, body, #root {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #333541;
}

#root {
    display: flex;
}
.route-page {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #383a47;
}